@import "_mixin.scss";
@import "common.scss";
.wrapper {
    width: 100%;
    height: 100%;
    @include box_flex;
    @include direction(column);
    @include justify(space-between);
    padding: 0 pxTorem(15px);
    @include sizing;
}

section {
    @include flex;
    overflow-y: scroll;
    .search {
        margin: pxTorem(10px) 0;
        border: pxTorem(1px) solid #999;
        padding: 0 pxTorem(15px);
        @include sizing;
        width: 100%;
        @include box_flex;
        height: pxTorem(40px);
        @include align;
        border-radius: pxTorem(6px);
        input {
            margin: 0 pxTorem(10px);
            font-size: pxTorem(16px);
            @include flex;
            outline: 0;
            border: 0;
        }
    }
    .list {
        width: 100%;
        @include box_flex;
        @include flexWrap;
        dl {
            width: 20%;
            margin: pxTorem(10px) 0;
            @include direction(column);
            @include align;
            @include box_flex;
            @include justify;
            dd {
                img {
                    width: pxTorem(45px);
                    height: pxTorem(45px);
                }
            }
            dt {
                @include center;
                font-size: pxTorem(16px);
            }
        }
    }
    .hot {
        img {
            display: block;
            width: 100%;
        }
    }
    .tip {
        img {
            display: block;
            width: 100%;
        }
    }
}